doctype html
html
  head
    title= title
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(src="/javascripts/home.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    
  body
    div(id="registerModal",class="modal fade",role="dialog")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button",class="close",data-dismiss="modal") &times;
                    h4(class="modal-title") Register Account
                form(class="form-horizontal", role="form", name="register", action='/users/register', method="post",onsubmit="return validateRegisterForm()", id="register-form")
                    div(class="modal-body")
                        div(class="form-group")
                            label(class="control-label col-sm-2", for="fname") First Name:
                            dic(class="col-sm-10")
                                input(type="text", class="form-control", id="fname", name="fname", placeholder="First Name", required)
                        div(class="form-group")
                            label(class="control-label col-sm-2", for="lname") Last Name:
                            dic(class="col-sm-10")
                                input(type="text", class="form-control", id="lname", name="lname", placeholder="Last Name", required)
                        div(class="form-group")
                            label(class="control-label col-sm-2", for="email") Email:
                            dic(class="col-sm-10")
                                input(type="email", class="form-control", id="email", name="email", placeholder="Email", required)
                        div(class="form-group")
                            label(class="control-label col-sm-2", for="pwd") Password:
                            dic(class="col-sm-10")
                                input(type="password", class="form-control", id="pwd", name="pwd", placeholder="Password", required)
                        div(class="form-group")
                            label(class="control-label col-sm-2", for="repwd") Re-type Password:
                            dic(class="col-sm-10")
                                input(type="password", class="form-control", id="repwd", placeholder="Re-type Password", required)
                                div(id="register-password-error-message")
                                    p Passwords Don't Match
                    div(class="modal-footer")
                        button(type="submit",class="btn btn-default") Register

    div(class="container text-center padding10px")
        form(class="form-inline", action="/forms/login", method="post", role="form")
            div(class="form-group")
                div(class="padding10pxright")
                    label(class="sr-only", for="email") Email:
                    input(type="email", class="form-control", id="email", placeholder="Email", required)
            div(class="form-group")
                div(class="padding10pxright")
                    label(class="sr-only", for="pwd") Password:
                    input(type="password", class="form-control", id="pwd", placeholder="Password", required)
            div(class="form-group")
                div(class="padding10pxright")
                    button(type="submit", class="btn btn-default") Log In
            a(class="",data-toggle="modal", data-target="#registerModal") Or Register

    div(class="container-fluid text-center")
        if error
            p ERROR: #{error}



