doctype html
html
  head
    title= title
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/navStyle.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    
  body
  
    nav(class='navbar navbar-inverse')
        div(class="container-fluid")
            div(class="navbar-header")
                button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
                    span(class="sr-only")
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                a(class="navbar-brand" href="/") NFL Pick
            div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
                ul(class="nav navbar-nav")
                    li(class="")
                        a(href="/selections") Selections
                            //span(class="sr-only") (current)
                    li(class="")
                        a(href="/leagues") Leagues
                ul(class="nav navbar-nav navbar-right")
                    li
                        a(href="/users/logout") Log Out


  
    block content
