extends layout

block content
    div(id="createLeagueModal",class="modal fade",role="dialog")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button",class="close",data-dismiss="modal") &times;
                    h4(class="modal-title") Create League
                form(class="form-horizontal", role="form", name="register", action='/leagues/createleague', method="post",onsubmit="return validateRegisterForm()", id="register-form")
                    input(type="hidden", name="_csrf", value=csrfToken)
                    div(class="modal-body")
                        div(class="form-group")
                            label(class="control-label col-sm-2", for="lname") League Name:
                            div(class="col-sm-10")
                                input(type="text", class="form-control", id="lname", name="lname", placeholder="League Name", required)
                        div(class="form-group")
                            label(class="control-label col-sm-2", for="ecode") Entry Code:
                            div(class="col-sm-10")
                                input(type="text", class="form-control", id="ecode", name="ecode", placeholder="Entry Code", required)
                    div(class="modal-footer")
                        button(type="submit",class="btn btn-default") Create League
    
    div(id="joinLeagueModal",class="modal fade",role="dialog")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button",class="close",data-dismiss="modal") &times;
                    h4(class="modal-title") Join League
                form(class="form-horizontal", role="form", name="register", action='/leagues/joinleague', method="post",onsubmit="return validateRegisterForm()", id="register-form")
                    input(type="hidden", name="_csrf", value=csrfToken)
                    div(class="modal-body")
                        div(class="form-group")
                            label(class="control-label col-sm-2", for="lid") League ID:
                            div(class="col-sm-10")
                                input(type="text", class="form-control", id="lid", name="lid", placeholder="League ID", required)
                        div(class="form-group")
                            label(class="control-label col-sm-2", for="ecode") Entry Code:
                            div(class="col-sm-10")
                                input(type="text", class="form-control", id="ecode", name="ecode", placeholder="Entry Code", required)
                    div(class="modal-footer")
                        button(type="submit",class="btn btn-default") Join League

    div(class="container text-center")
        span(class="h2") My Leagues: 
        div(class="btn-group margin10px")
            button(class="btn btn-default btn-md",data-toggle="modal", data-target="#createLeagueModal") Create League
            button(class="btn btn-default btn-md",data-toggle="modal", data-target="#joinLeagueModal") Join League
            
    
    div(class="container padding30px text-center")
        div(class="table-responsive")
            table(class="table table-bordered table-striped tableCenterText")
                thead
                    tr
                        th League Name
                        th League Position
                        th League Leader
                tbody
                    tr
                        td
                            a(href="/leagues/00") League Name
                        td #2
                        td Anna Pitt
