extends layout

block content
    div(class="container text-center padding10px")
        h3 League Name
    div(class="container")
        div(class="table-responsive")
            table(class="table table-bordered table-striped tableCenterText")
                thead
                    tr
                        th #
                        th Name
                        th Last Week
                        th Overall
                        th Points
                tbody
                    tr
                        td 1
                        td Anna Pitt
                        td 12 - 4
                        td 12 - 4
                        td 16
                    tr
                        td 2
                        td Frank Stevens
                        td 11 - 5
                        td 11 - 5
                        td 15
                    tr
                        td 3
                        td Tom Doe
                        td 12 - 4
                        td 12 - 4
                        td 12
                    