.tableCenterText th {
   text-align: center;   
}

.tableCenterText td {
   text-align: center;   
}

.padding30px{
    padding: 30px;
}

.padding10px{
    padding: 10px;
}

.padding10pxright{
    padding-right: 10px;
}

.margin10px{
    margin: 10px;
}

.margin10pxright{
    margin-right: 10px;
}

.pickButton{
    padding: 5px;
}

.display-inline{
    display: inline-block;
}

#homeImage{
    width: 100%;
    height: 100vh;
    background-image: url(/images/layout/home.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#register-password-error-message{
    color: red;
    padding: 5px;
    text-align: center;
    display: none;
}
