.tableCenterText th {
   text-align: center;   
}

.tableCenterText td {
   text-align: center;   
}

.padding30px{
    padding: 30px;
}

.padding10px{
    padding: 10px;
}

.padding10pxright{
    padding-right: 10px;
}

.margin10px{
    margin: 10px;
}

.margin10pxright{
    margin-right: 10px;
}

.leagueButtonHolder{
    display: inline-block;
}

.pickButton{
    padding: 5px;
}